body {
  background: #f4f4f4;
}
.task-wrap {
  position: relative;
}
.task-header {
  background: #333;
}
.task-header-fixed {
  background: #333;
  width: 100%;
}
.task-detail {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.task-detail .header-hd {
  position: absolute;
  top: 50%;
  margin-top: -43px;
}
.task-detail .header-hd img {
  width: 150px;
  height: 85px;
}
.task-detail .header-center {
  padding: 15px 225px 15px 170px;
  min-height: 85px;
}
.task-detail .header-center .a-link {
  display: block;
  font-size: 24px;
  color: #fff;
  margin-bottom: 18px;
}
.task-detail .header-center .desc {
  width: 120px;
  line-height: 28px;
  border: 1px solid;
  padding: 0 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  color: #fff;
  box-sizing: border-box;
}
.task-detail .header-right {
  position: absolute;
  right: 0;
  color: #999;
  top: 50%;
  margin-top: -27px;
}
.icon-list .icon {
  float: left;
}
.icon-list .icon a {
  color: #999;
  display: inline-block;
  width: 70px;
  height: 53px;
  text-align: center;
}
.icon-list .icon i {
  font-size: 22px;
  display: block;
}
.task-prg {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  background-color: rgba(0,0,0,.5);
}
.task-prg .prg-bar{
  position: relative;
  width: 820px;
  height: 15px;
  background: #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}
.task-prg .prg-bar .completed {
  position: absolute;
  width: 23px;
  height: 100%;
  background: #5fb41b;
}
.task-prg .time-start,
.task-prg .prg-center,
.task-prg .time-end,
.task-prg .prg-right {
  float: left;
}
.task-prg .time-start {
  color: #999;
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
  margin-left: 8px;
}
.task-prg .time-end {
  color: #999;
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
.task-prg .prg-right {
  width: 140px;
  height: 80px;
  text-align: center;
  margin-left: -14px;
  background: #000;
  color: #fff;
  padding-top: 10px;
  box-sizing: border-box;
}
.task-prg .prg-right i {
  font-size: 12px;
  color: #23b8ff;
}
.task-prg .prg-center {
  width: 820px;
}
.task-prg .prg-center .c-txt {
  display: inline-block;
  margin-top: 3px;
  color: #23b8ff;
  position: relative;
  margin-left: 19px;
}
.task-prg .prg-center .c-txt .xue {
  position: absolute;
  left: -22px;
  font-size: 24px;
  top: -6px;
}
.task-prg .prg-center a {
  color: #fff;
}
.task-prg .prg-right .percent {
  font-size: 24px;
}

.catalog-wrap .catalog-title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  position: relative;
}
.catalog-wrap .catalog-title .recom-learn-time {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  color: #e85308;
}

.catalog-wrap .catalog-title span {
  font-size: 20px;
  vertical-align: -2px;
  margin-right: 5px;
}
.catalog-wrap .catalog-content {
  height: 51px;
  line-height: 51px;
  background: #f4f4f4;
  padding-left: 20px;
  margin-bottom: 20px;
}
.catalog-wrap .catalog-content {
  margin-right: 5px;
  cursor: pointer;
}
.catalog-wrap .catalog-content .status {
  color: #999;
}
.catalog-wrap .catalog-content .icon-wenjianjia {
  color: #a3d2f8;
}
.catalog-wrap .catalog-content .icon-bofang {
  color: #a3d2f8;
}
.catalog-wrap .catalog-content:nth-child(12) {
  color: #bbb;
  cursor: default;
}
.catalog-wrap .catalog-content:nth-child(14) {
  color: #bbb;
  cursor: default;
}
.catalog-wrap .catalog-content:nth-child(12) .status {
  color: #bbb;
}
.catalog-wrap .catalog-content:nth-child(14) .status {
  color: #bbb;
}
.catalog-wrap .catalog-content:hover .icon-bofang,
.catalog-wrap .catalog-content:hover .icon-wenjianjia {
  color: #12a7ff;
}

.task-body {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  margin-top: 40px;
  padding: 20px 40px;
  box-sizing: border-box;
}
.catalog-wrap .catalog-title .recom-learn-time .icon-naozhong {
  font-size: 20px;
  vertical-align: -4px;
}
.catalog-wrap .catalog-title .recom-learn-time .learn-time {
  font-size: 14px;
}
.catalog-wrap .catalog-content .icon-biaoshileihuifang {
  color: #999;
  vertical-align: -2px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}